version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: "farmlink_postgres"
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: farmlink
      POSTGRES_PASSWORD: farmlink
      POSTGRES_DB: farmlink
    volumes:
      - "./static/schema/init.sql:/docker-entrypoint-initdb.d/001-schema.sql"

volumes:
  postgres_data: